@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

img {
	float:left;
}

.logo {
	padding-left: 5px;
}

#mainContainer {
	height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: url(../imgs/background.gif) repeat-x;
}

#searchbarContainer {
	float:left;
	height: 30px;
	/*background: url(../imgs/searchbar_background.gif) no-repeat;*/
}

#searchbarContainer input{
	margin: 5px 5px 0px 5px;
	width: 160px;
	padding-left: 15px;
}

.searchbarIcon {
	position:absolute;
	top: 9px;
	left: 55px;
}
